@model EntityLayer.Concrate.Message2

@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/Advertiser_Layout.cshtml";
}


<h1>Yeni Mesaj</h1>
<br />
@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
{
    <p>Göndereceğiniz Kullanıcının ID'si: @ViewBag.id</p>
    @Html.Label("Konu")
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    <br />
    @Html.Label("Mesajınız")
    @Html.TextAreaFor(x => x.MessageDetails,10,10, new { @class = "form-control", @placeholder = "Mesajınız..." })
    <br />
    <button class="btn btn-gradient-info">Mesaj Gönder</button>

}


